.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;  
    height: 400px;  
    object-fit: cover;
    object-position: top;
}

.overlay-text {
    position: absolute;
          top: 20%;
          left: 25%;
          transform: translate(-50%, -50%);
          color: white;
          text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
        2px 2px 0 black;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          font-size: 55px;
          background-color: rgba(0, 0, 0, 0); /* Halvtransparent bakgrund */
          padding: 10px;
          white-space: nowrap; 
}

.overlay-text-2 {
  font-family: 'Tangerine', cursive;
  font-size: 120px;
    position:absolute;
          top: 37%;
          left: 35%;
          transform: translate(-50%, -50%);
          color: white;
          text-shadow: 
        -2px -2px 0 black, 
        2px -2px 0 black, 
        -2px 2px 0 black, 
        2px 2px 0 black;
          background-color: rgba(0, 0, 0, 0); /* Halvtransparent bakgrund */
          padding: 10px;
          white-space: nowrap; 
}




.tangerine-text {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
}

.tangerine-title {
  font-family: 'Tangerine', cursive;
  font-size: 40px;
}
